* {
    margin: 0;
}

.contenedor {
    background: palevioletred;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p {
    font-size: xx-large;
    padding: 15%;
    font-family: 'Pacifico', serif;  /* Fuente para los párrafos */
}

button {
    font-size: xx-large;
    padding: 0.75em;
    font-family: 'Pacifico', monospace;  /* Fuente para los botones */
}

#yesBtn {
    transform: translate(-100px, 0);  /* Mueve el botón "Sí" a la izquierda 100px */
}

#noBtn {
    position: absolute;
}

body {
    font-family: 'Pacifico', sans-serif;  /* Fuente para el cuerpo */
}
